$mobile-width: 500px;
$monitor-width: 1080px;
$header-font-size-small: 1.5rem;
$header-font-size-large: 2.1rem;
$body-font-size-small: 1rem;
$body-font-size-large: 1.3rem;

.app {
    height: 100vh;
    width: 100vw;
}